form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    input {
        height: 15px;
        border: 1px solid teal;
        padding: 5px;
    }
}